@charset "UTF-8";

body {
    background-color: rgb(228, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(190, 120, 120);
    background-color: rgb(24, 2, 2);
}
h2{
    color: rgb(120, 151, 151);
}
p{
    text-align: justify;
}