@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2E3D5, #BF9278 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f6521785;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #593D2D;
    text-align: center;
    text-shadow: 1px 1px 2px #a93a11cf;
}

h2 {
    color: #F25116;
}

p {
    text-align: justify;
    color: #97725d;
}